<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="sitelogo" value="" />
    <add key="siteurl" value="" />
    <add key="Mail:UserName" value="info@.com" />
    <add key="Mail:PassWord" value="123" />
    <add key="Mail:Hosting" value="smtp.yandex.com.tr" />
    <add key="Mail:Port" value="25" />
    <add key="Mail:SSL" value="true" />
    <add key="Mail:SenderName" value="" />
    <add key="cipherpassword" value="123" />
    <add key="CompletedRate" value="0.9" />
    <add key="BackgroundServiceDelayMinute" value="15" />

    
    
    <add key="EducationDefaultDurationDay" value="90" />
    <add key="ExamDefaultDurationDay" value="90" />
    <add key="SurveyDefaultDurationDay" value="90" />

    <add key="Mail:RecieverAddress" value="info@gencpa.com" />
    <add key="SiteRoot" value="/" />
    <add key="ScormPath" value="wwwroot/uploads/educations/" />
  </appSettings>
  <connectionStrings>
    
    <!-- <add name="SqlConnetionString" connectionString="server=ROJDA\SQLEXPRESS;database=eogrenmescorm;uid=Lms;pwd=lms123!"/>-->
    <!--
    <add name="SqlConnetionString" connectionString="Server=DESKTOP-DF0CC0D;Database=YFA2019;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>

     <add name="SqlConnetionString" connectionString="Server=.\SQLEXPRESS2014;User ID=rockerdem;Password=mOOks1174!!;Database=YFA2019;"/>

             <add name="SqlConnetionString" connectionString="Server=192.168.2.10;User ID=sa;Password=Deneme99??;Database=gencpaerpdb" providerName="System.Data.SqlClient"/>

               <add name="SqlConnetionString" connectionString="Server178.210.180.178;User ID=sa;Password=Uh79RVJZGHyxcuA;Database=kredidb" providerName="System.Data.SqlClient"/>

    -->

    <add name="SqlConnectionString" connectionString="Server=192.168.2.10;User ID=sa;Password=Deneme99??;Database=u9315160_crm" providerName="System.Data.SqlClient"/>
    <add name="SCSlogo" connectionString="Server=192.168.2.10;User ID=sa;Password=Deneme99??;Database=tiger" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
</configuration>